.carouselItem {
  position: absolute;
  transition: top 0.3s;
  z-index: 4;
  touch-action: manipulation;
}

.scale1 {
  transform: scale(1);
}

.scale105 {
  transform: scale(1.05);
}

.scale110 {
  transform: scale(1.1);
}
